@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Nunito:wght@300;600;800;900&display=swap');


@import "reset.css";
@import "index.css";
@import "search.css";

body{
    font-family: 'Nunito', sans-serif;  
}

button, input{
    font-family: 'Nunito', sans-serif;  
    font-weight: 800
}
h2{
   font-size: 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}
h3{
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

h4{
    font-size: 17px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: normal;
}